<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Anoop Sinha/IdeaProjects/APIRest1/src/test/java/RestAssured/Misc/PetStoreTests/TestE2E.java">
        <classes><class name="RestAssured.Misc.PetStoreTests.TestE2E">
        <methods><include name="readAllPets"/><include name="addNewPet"/>
            <include name="findPetbyId"/><include name="sellNewPet"/><include name="deleteSoldPet"/>
            <include name="deleteSoldPetAgain_NegativeTC"/><include name="findDeletedPet_NegativeTC"/></methods></class>
    </classes></test></suite>